@import 'nib'

.credit
  margin 20px 0

a, a:link
	cursor pointer

body
	padding-top 60px
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif

.navbar-brand
	color: #000 !important
	font-size: 22px !important