/*
 * jquery.tocify.css 1.9.0
 * Author: @gregfranko
 */

/* The Table of Contents container element */
.tocify {
    width: 100%;
    overflow: hidden;
    margin-left: 0;
}

/* The Table of Contents is composed of multiple nested unordered lists.  These styles remove the default styling of an unordered list because it is ugly. */
.tocify ul, .tocify li {
    list-style: none;
    padding: 0;
    border: none;
    line-height: 30px;
	margin-left: 15px;
}


/* Top level header elements */
.tocify-header {
    margin-left: -12px !important;
}

/* Twitter Bootstrap Override Style */
.nav-list > li > a, .nav-list .nav-header {
    margin: 0px;
}

/* Twitter Bootstrap Override Style */
.nav-list > li > a {
    padding: 5px;
}